<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Orbit Simulator</title>
  <link rel="stylesheet" href="../static/css/pagina.css" />
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div class="header">
    <img src="{{ url_for('static', filename='VanHalley.jpg') }}" alt="Imagen izquierda" class="side-image left"
      width="300">
    <h1>Orbit Simulator</h1>
    <img src="{{ url_for('static', filename='nasa.jpeg') }}" alt="Imagen derecha" class="side-image right" width="200">
  </div>

  <!-- Botón para desplegar el formulario -->
  <button class="toggle-button" onclick="toggleForm()">
    Add new celestial body
  </button>

  <!-- Botón para cambiar la escala a 20x20x20 -->
  <button onclick="cambiarEscala(20)">Change to 20x20x20</button>

  <!-- Botón para cambiar la escala a 1500x1500x1500 -->
  <button onclick="cambiarEscala(1500)">Change to 1500x1500x1500</button>

  <!-- Formulario para agregar un nuevo cuerpo -->
  <div id="formulario">
    <!-- Botón para cerrar el formulario -->
    <button class="close-button" onclick="closeForm()">Close</button>

    <form method="POST" class="grid-form">
      <div>
        <label for="nombre">Name:</label>
        <input type="text" name="nombre" required />
      </div>

      <div>
        <label for="a">Semi-major axis (a):</label>
        <input type="number" step="0.001" name="a" required />
      </div>

      <div>
        <label for="e">Eccentricity (e):</label>
        <input type="number" step="0.001" name="e" required />
      </div>

      <div>
        <label for="I">Inclination (I):</label>
        <input type="number" step="0.001" name="I" required />
      </div>

      <div>
        <label for="L">Mean longitude (L):</label>
        <input type="number" step="0.001" name="L" required />
      </div>

      <div>
        <label for="long_peri">Perihelion Longitude:</label>
        <input type="number" step="0.001" name="long_peri" required />
      </div>

      <div>
        <label for="long_node">Ascending node Longitude:</label>
        <input type="number" step="0.001" name="long_node" required />
      </div>

      <button type="submit" class="form-button">Add</button>

      <!-- Campo para ingresar la fecha y hora -->
      <label for="fecha_hora">Date and time (YYYY-MM-DD HH:MM:SS):</label>
      <input type="text" id="fecha_hora" name="fecha_hora" placeholder="2024-10-05 12:00:00">

      <button type="submit">Send</button>
    </form>
  </div>

  <!-- Aquí se inserta la figura de Plotly -->
  <div id="grafico">{{ figura|safe }}</div>

  <!-- Script de animación para el formulario -->
  <script>
    function toggleForm() {
      var formulario = document.getElementById("formulario");
      formulario.classList.add("show");
    }

    function closeForm() {
      var formulario = document.getElementById("formulario");
      formulario.classList.remove("show");
    }
  </script>

  <script>
    function cambiarEscala(escala) {
      fetch('/change_range', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 'escala': escala })
      })
        .then(response => response.json())
        .then(data => {
          // Aquí se actualiza el div que contiene el gráfico con el nuevo gráfico recibido
          document.getElementById('grafico').innerHTML = data.figura;
          console.log('Nuevo gráfico recibido. Actualizando la visualización...');
          window.location.reload();
        })
        .catch(error => console.error('Error al cambiar la escala:', error));
    }
  </script>

  <div class="team-names">
    <p>Team Members: Yuri Brummel, Inook Valentino Carey, Noelia Curruhuinca Evangelisti, Genaro Trujillo,
      Joaquin Villada, Eduardo Kunysz
    </p>
  </div>

</body>

</html>